body{
    border: 1px solid black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

header{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 10% 10%;
    border: 1px solid none;
    background-color: rgb(18, 53, 54);
}

.contenedor_titulo{
  display: block;
  text-align: center;
  margin: 70px;
  color: beige;
}

.contenedor_foto{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.contenedor_foto img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover; /*no deja que la imagen se distorcine*/
    border: 1px solid rgb(18, 53, 54);
}

/*main*/

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    background-color: rgb(32, 46, 46);
}

h2{
    display: flex;
    justify-content: center;
    color: beige;
}

h2:hover{
    color: rgb(21, 21, 22);
    cursor: pointer;
}

/*HOVER PARA REMPLAZAR UNA IMAGEN POR OTRA*/

.imagen_perfil{     /*HOVER DE PERFIL*/
    border: 10px solid none;     
    background-image: url('Elaborar-tu-perfil-laboral-1.jpg'); 
    background-size: 100% 400px;
    width: 400px;
    height: 400px;
    border-radius: 10%;
}  

.imagen_perfil:hover{     
    background-image: url('perfil.png');    
    background-repeat: no-repeat;     
    background-position: center center;
    background-size: 100% 400px;
}

.contenedor_sec1{
    margin: auto;
}

.imagen_hab{     /*HOVER DE HABILIDADES*/
    border: 10px solid none;     
    background-image: url('hab.jpg'); 
    background-size: 100% 400px;
    width: 400px;
    height: 400px;
    border-radius: 10%;
}  

.imagen_hab:hover{     
    background-image: url('hab.png');    
    background-repeat: no-repeat;     
    background-position: center center;
    background-size: 100% 400px;
}

.contenedor_sec1{
    margin: auto;
}

.imagen_datos{     /*HOVER DE DATOS PERSONALES*/
    border: 10px solid none;     
    background-image: url('datos.jpg'); 
    background-size: 100% 400px;
    width: 400px;
    height: 400px;
    border-radius: 10%;
}  

.imagen_datos:hover{     
    background-image: url('datos.png');    
    background-repeat: no-repeat;     
    background-position: center center;
    background-size: 100% 400px;
}

.contenedor_sec1{
    margin: auto;
}

/*2da seccion del main*/

.imagen_edu{     /*HOVER DE DATOS PERSONALES*/
    border: 10px solid none;     
    background-image: url('educacion.jpg'); 
    background-size: 100% 400px;
    width: 400px;
    height: 400px;
    border-radius: 10%;
}  

.imagen_edu:hover{     
    background-image: url('educa.png');    
    background-repeat: no-repeat;     
    background-position: center center;
    background-size: 100% 400px;
}

.contenedor_sec1{
    margin: auto;
}

.imagen_exp{     /*HOVER DE EXPERIENCIA*/
    border: 10px solid none;     
    background-image: url('exp.jpg'); 
    background-size: 100% 400px;
    width: 400px;
    height: 400px;
    border-radius: 10%;
}  

.imagen_exp:hover{     
    background-image: url('exp.png');    
    background-repeat: no-repeat;     
    background-position: center center;
    background-size: 100% 400px;
}

.contenedor_sec1{
    margin: auto;
}

.imagen_hob{     /*HOVER DE HOBBIES*/
    border: 10px solid none;     
    background-image: url('hobbies.jpeg'); 
    background-size: 100% 400px;
    width: 400px;
    height: 400px;
    border-radius: 10%;
}  

.imagen_hob:hover{     
    background-image: url('hob.png');    
    background-repeat: no-repeat;     
    background-position: center center;
    background-size: 100% 400px;
}

.contenedor_sec1{
    margin: auto;
}

footer{
    display: flex;
    background-color: rgb(18, 53, 54);
    justify-content: center;
}

footer p{
    color: beige;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}