div {     
    width: 50%;     height: 50vh;
 }  
 
 .hoverImg{     
    border: 10px solid darkblue;     
    background-image: url('perrito.jpg'); 
}  

.hoverImg:hover{     
    background-image: url('gato.jpg');    
     background-repeat: no-repeat;     
     background-position: center center;
    background-size: 100% 400px;
}




/*ESTE CODIGO ES PARA EL CLON DE GOOGLE*/

.container-flex {
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    padding: 5px 14px;
    align-items: center;
    border-radius: 2em;
    border: none;
    box-shadow: 1px 2px 3px gray;
}

.buttonPencil {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.pencil {
    fill: gray;
  }
<footer>
        <button class="container-flex buttonPencil">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                <path class="pencil"
                    d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04a.996.996 0 0 0 0-1.41l-2.34-2.34a.996.996 0 0 0-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z" />
                <path d="M0 0h24v24H0z" fill="none" />
            </svg>
            Personalizar Chrome
        </button>
    </footer>


    /*footer que tenia en mi codigo actual
    
.footer_d .foot_derecho{
    display: flex;
    float: left;   
}

.footer_i .foot_izquierdo{
    display: flex;
    float: right;
}

div .footer_d ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    padding: 20px;
    white-space: nowrap; 
    cursor: pointer; 
    float: left;
}

div li a{
    text-decoration: none;
    display:inline-block;
}

.color h4 span{
    color:rgb(131, 131, 150);
}
.color h4{
    text-align: center;
}


<footer>
        <div class="footer_d">
            <ul class="foot_derecho">
                <div>
                    <li><a href="">Sobre Google</a></li>
                </div>
                <div>
                    <li><a href="">Publicidad</a></li>
                </div>
                <div>
                    <li><a href="">Negocios</a></li>
                </div>
                <div>
                    <li><a href="">Cómo funciona la Búsqueda</a></li>
                </div>
            </ul>
            </div>
            <div class="footer_i">        
                <ul class="foot_izquierdo">
                    <li><a href="">Privacidad</a></li>
                    <li><a href="">Condiciones</a></li>
                    <li><a href="">Preferencias</a></li>
                </ul>
            </div>
            <div class="color">
                <h4>Ofrecido por Google en: <span>Español (Latinoamérica)</span></h4>
            </div>
    </footer>